name: build

on:
  pull_request:
    branches:
      - main

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  build-the-book:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "0.4.12"
          enable-cache: true

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv sync --python ${{ matrix.python-version }}
          uv pip install -U leafmap
          uv pip install py3dep

      - name: Install optional dependencies
        run: |
          uv pip install --find-links https://girder.github.io/large_image_wheels GDAL pyproj

      - name: Test import
        run: |
          uv run python -c "import leafmap; print('leafmap import successful')"
          uv run python -c "from osgeo import gdal; print('gdal import successful')"
          uv run gdalinfo --version

      # Build the book
      - name: Build the book
        run: |
          uv run jupyter-book build .
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          MAPTILER_KEY: ${{ secrets.MAPTILER_KEY }}
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v3.0
        with:
          publish-dir: "./_build/html"
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
          enable-pull-request-comment: true
          enable-commit-comment: false
          overwrites-pull-request-comment: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
