name: deploy

on:
  # Trigger the workflow on push to main branch
  push:
    branches:
      - main

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  build-book:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    env:
      USE_MKDOCS: ${{ secrets.USE_MKDOCS }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "0.4.12"
          enable-cache: true

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --python ${{ matrix.python-version }}

      - name: Install optional dependencies
        run: |
          uv pip install --find-links https://girder.github.io/large_image_wheels GDAL pyproj

      - name: Test import
        run: |
          uv run python -c "import leafmap; print('leafmap import successful')"
          uv run python -c "from osgeo import gdal; print('gdal import successful')"
          uv run gdalinfo --version

      # Build the book
      - name: Build the book
        run: |
          uv run jupyter-book build .

      # Deploy the book's HTML to gh-pages branch
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html
